.example--body
	background black
	margin 5rem
	color white

// .example--floating-left 
// 	float left

.example--container
	width 100%
	height auto
	float left
.example--container::after
	clear: both

.example--rectangle
	width 125px
	height 125px
	margin .5rem
	float left

.example--background-red
	background red
.example--background-green
	background green
.example--background-blue
	background blue
.example--background-yellow
	background yellow
.example--background-purple
	background purple

.example--color-red
	color red
.example--color-green
	color green
.example--color-blue
	color blue
.example--color-yellow
	color yellow
.example--color-purple
	color purple