/*
BOTTOM-TO-TOP
*/



.flowin_fadein-bottom-top-1
	opacity 0
	animation fadein-bottom-to-top $default_duration ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-2
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-2 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-3
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-3 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-4
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-4 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-5
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-5 ease-in-out
	animation-fill-mode forwards
.flowin_fadein-bottom-top-6
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-6 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-7
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-7 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-8
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-8 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-9
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-9 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-10
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-10 ease-in-out
	animation-fill-mode forwards
	
.flowin_fadein-bottom-top-11
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-11 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-12
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-12 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-13
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-13 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-14
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-14 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-15
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-15 ease-in-out
	animation-fill-mode forwards
	
.flowin_fadein-bottom-top-16
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-16 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-17
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-17 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-18
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-18 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-19
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-19 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-bottom-top-20
	opacity 0
	animation fadein-bottom-to-top $default_duration $default_delay-20 ease-in-out
	animation-fill-mode forwards



/*
TOP-TO-BOTTOM
*/

.flowin_fadein-top-bottom-1
	opacity 0
	animation fadein-top-to-bottom $default_duration ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-2
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-2 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-3
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-3 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-4
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-4 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-5
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-5 ease-in-out
	animation-fill-mode forwards
	
.flowin_fadein-top-bottom-6
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-6 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-7
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-7 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-8
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-8 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-9
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-9 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-10
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-10 ease-in-out
	animation-fill-mode forwards
	
.flowin_fadein-top-bottom-11
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-11 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-12
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-12 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-13
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-13 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-14
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-14 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-15
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-15 ease-in-out
	animation-fill-mode forwards
	
.flowin_fadein-top-bottom-16
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-16 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-17
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-17 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-18
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-18 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-19
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-19 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-top-bottom-20
	opacity 0
	animation fadein-top-to-bottom $default_duration $default_delay-20 ease-in-out
	animation-fill-mode forwards




/*
RIGHT TO LEFT
*/

.flowin_fadein-right-left-1
	opacity 0
	animation fadein-right-to-left $default_duration ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-2
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-2 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-3
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-3 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-4
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-4 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-5
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-5 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-6
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-6 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-7
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-7 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-8
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-8 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-9
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-9 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-10
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-10 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-11
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-11 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-12
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-12 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-13
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-13 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-14
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-14 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-15
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-15 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-16
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-16 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-17
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-17 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-18
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-18 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-19
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-19 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-right-left-20
	opacity 0
	animation fadein-right-to-left $default_duration $default_delay-20 ease-in-out
	animation-fill-mode forwards

/*
LEFT TO RIGHT
*/

.flowin_fadein-left-right-1
	opacity 0
	animation fadein-left-to-right $default_duration ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-2
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-2 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-3
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-3 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-4
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-4 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-5
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-5 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-6
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-6 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-7
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-7 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-8
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-8 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-9
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-9 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-10
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-10 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-11
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-11 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-12
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-12 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-13
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-13 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-14
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-14 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-15
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-15 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-16
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-16 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-17
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-17 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-18
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-18 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-19
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-19 ease-in-out
	animation-fill-mode forwards

.flowin_fadein-left-right-20
	opacity 0
	animation fadein-left-to-right $default_duration $default_delay-20 ease-in-out
	animation-fill-mode forwards
