.flowin_hover-scaleup
	// transition width .25s, height .25s
.flowin_hover-scaleup-125:hover
	width 125px
	height 125px
.flowin_hover-scaleup-250:hover
	width 250px !important
	height 250px !important