/* define some important vars */

$default_delay					= .25
$default_duration				= .25s
$default_translate				= 200%
$default_neg_translate			= -200%




/* CALCULATIONS */
$default_delay-2				= ($default_delay*2)s
$default_delay-3				= ($default_delay*3)s
$default_delay-4				= ($default_delay*4)s
$default_delay-5				= ($default_delay*5)s
$default_delay-6				= ($default_delay*6)s
$default_delay-7				= ($default_delay*7)s
$default_delay-8				= ($default_delay*8)s
$default_delay-9				= ($default_delay*9)s
$default_delay-10				= ($default_delay*10)s
$default_delay-11				= ($default_delay*11)s
$default_delay-12				= ($default_delay*12)s
$default_delay-13				= ($default_delay*13)s
$default_delay-14				= ($default_delay*14)s
$default_delay-15				= ($default_delay*15)s
$default_delay-16				= ($default_delay*16)s
$default_delay-17				= ($default_delay*17)s
$default_delay-18				= ($default_delay*18)s
$default_delay-19				= ($default_delay*19)s
$default_delay-20				= ($default_delay*20)s